.title {
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    margin-left: 0.5em;
    line-height: 3em;
}

.navbar-nav {
    margin-left: auto;
    text-align: end;
}

.nav-item {
    padding: 0 0.8em;
}

@media (min-width: '360px') {
    .title {
        font-size: 2.5em;
        line-height: 2em;
    }
}
