.pantry-list__item {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 2em;
    justify-content: end;

    button {
        width: 6em;
        margin: auto;
    }
}

.pantry-list {
    padding: 1em;
    margin-left: 1em;

    input {
        margin: 1rem auto;
    }
}

.pantry--btn {
    width: 12em;
}

.pantry-input {
    margin-top: 2em;
    margin-right: 1em;
}

@media (min-width: 320px) {
    .pantry-items {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 2em;
    }
}
