.history--card {
  min-width: 15em;
  margin-bottom: 2em; }
  .history--card .card-title {
    font-size: large;
    font-weight: bold; }
  .history--card .card-text {
    padding: 1em; }

.ingredients-table {
  display: grid;
  grid-template-columns: 7.5em 7.5em;
  grid-template-rows: repeat(15);
  grid-gap: 0.5em;
  margin: 2em 0; }

.container {
  min-height: 15em;
  width: 20em;
  max-width: 720px;
  display: block; }

.card-wrapper {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center; }

.recipe--card {
  min-width: 15em;
  width: 15em; }
  .recipe--card button {
    font-size: medium;
    margin-top: 1em;
    min-width: 7em; }
  .recipe--card .card-title {
    font-size: large;
    font-weight: bold; }
  .recipe--card .card-text {
    padding: 1em; }

.pantry-list__item {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 2em;
  justify-content: end; }
  .pantry-list__item button {
    width: 6em;
    margin: auto; }

.pantry-list {
  padding: 1em;
  margin-left: 1em; }
  .pantry-list input {
    margin: 1rem auto; }

.pantry--btn {
  width: 12em; }

.pantry-input {
  margin-top: 2em;
  margin-right: 1em; }

@media (min-width: 320px) {
  .pantry-items {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 2em; } }

.title {
  display: inline;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  margin-left: 0.5em;
  line-height: 3em; }

.navbar-nav {
  margin-left: auto;
  text-align: end; }

.nav-item {
  padding: 0 0.8em; }

@media (min-width: 360px) {
  .title {
    font-size: 2.5em;
    line-height: 2em; } }
