html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.main-container {
    min-height: 100vh;
    margin-top: 1.6rem;
}

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.title-underline {
    width: 24rem;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    border-bottom: 3px solid grey;
}

.custom--btn {
    font-size: 1em;
    width: 16em;
    height: 2.2em;
}
